.icon--instagram {
  color: #ca3082;
}

.icon--facebook {
  color: #4867aa;
}

.icon--twitter {
  color: #1da1f2;
}

.icon--behance {
  color: #0066f7;
}

.p__leading1 {
  color: #1a1a1a;
}

.p__leading2 {
  color: #333333;
}

.p__leading3 {
  color: #4d4d4d;
}

.p__leading4 {
  color: #666666;
}

.p__leading5 {
  color: gray;
}

.p__leading6 {
  color: #999999;
}

/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 709px;
  font-size: 16px;
  background-color: #ececec;
  font-family: "Montserrat", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

/*nav*/
nav {
  background-color: #fff;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  line-height: 55px;
  height: 55px;
  z-index: 999;
}
nav .nav__logo {
  font-size: 1.2em;
  align-self: center;
  font-weight: bold;
  margin-left: 10px;
}
nav .nav__logo a {
  color: #000;
  text-decoration: none;
}
nav input {
  grid-column: 8;
  position: absolute;
  top: 21px;
  left: 7px;
  z-index: 2;
  opacity: 0;
}
nav input:checked ~ ul {
  position: absolute;
  top: 55px;
  left: 0;
}
nav input:checked ~ ul ul li {
  display: none;
}
nav input:checked ~ .nav__li--selected {
  width: 100vw;
}
nav input:checked ~ .nav__burguer .nav__burguer__lines:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
nav input:checked ~ .nav__burguer .nav__burguer__lines:nth-child(2) {
  width: 0;
}
nav input:checked ~ .nav__burguer .nav__burguer__lines:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
nav .nav__burguer {
  grid-column: 8 / span 1;
  display: flex;
  margin-right: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
nav .nav__burguer .nav__burguer__lines {
  margin: 2px;
  border-radius: 20px;
  display: block;
  background-color: #000;
  border: 0;
  height: 5px;
  width: 25px;
  transition: 0.3s ease-in-out;
}
nav .nav__burguer .nav__burguer__lines:nth-child(2) {
  width: 20px;
  margin-left: 6px;
}
nav ul {
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 55px;
  left: -110%;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  /*sub menu*/
}
nav ul li {
  width: 100vw;
  background-color: #ececec;
}
nav ul .nav__li {
  display: inline-block;
}
nav ul .nav__li:not(:last-child) {
  margin-right: 2px;
}
nav ul a {
  text-decoration: none;
  padding: 0 15px;
  color: #000;
  height: 55px;
}
nav ul a:hover {
  color: #fff;
}
nav ul .nav__li--selected,
nav ul li:hover {
  width: 100%;
  color: #fff;
  background-color: #0d6efd;
  display: inline-block;
  text-decoration: underline;
}
nav ul .nav__link--white {
  color: #fff;
}
nav ul .nav__li:hover > a {
  color: #fff;
}
nav ul ul ul {
  display: none;
  position: absolute;
}
nav ul ul li {
  display: block;
  background-color: rgba(230, 230, 230, 0.9);
  width: 100%;
}
nav ul ul li:hover {
  text-decoration: none;
}
nav ul li:hover > ul {
  display: block;
}

/*end nav*/
/*header*/
header {
  background-image: url("../img/foto_casa.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fafafa;
}
header .header__titlescta {
  background-color: rgba(0, 0, 0, 0.7);
  grid-column: 1/9;
  padding: 100px 15px 60px 15px;
}
header .mail--sent {
  background: #4abb95;
}

header .header__titlescta h1 {
  color: #fff;
  font-size: 3.8em;
  font-weight: 600;
}
header .header__titlescta h2 {
  color: #fff;
  letter-spacing: 0px;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 15px 0;
  font-weight: 400;
}
header .header__titlescta .header__email {
  background-color: #0d6efd;
  color: #fff;
  margin-top: 16px;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  border-radius: 5px;
  border: 0;
}
header .header__titlescta .header__social {
  margin-top: 25px;
  font-size: 1.2em;
  margin-left: 5px;
  letter-spacing: 5px;
  color: #fff;
}
header .header__titlescta .header__social i:hover {
  color: #0d6efd;
}
header img {
  display: none;
}

/*end header*/
/*customers*/
.customers {
  margin: 0 0 10px 0;
  padding: 45px 0;
  height: auto;
  width: 100%;
  font-weight: bold;
  background-color: #f4f6f3;
  text-align: center;
  overflow-x: auto;
}
.customers p {
  font-size: 1em;
  padding: 0;
  color: #151515;
}
.customers img {
  display: inline-block;
  height: 60px;
  width: auto;
  margin: 0 5px;
  margin-top: 15px;
}

/*end customers*/
/*staff*/
.staff {
  padding-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.staff .staff__article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  margin: 25px;
  padding: 15px;
  background-color: #fafafa;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: left;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  width: 340px;
  height: 390px;
}
.staff .staff__article img {
  display: block;
  margin: 0 auto;
  clip-path: circle(50%);
}
.staff .staff__article .staff__socials {
  align-self: center;
}
.staff .staff__article .staff__socials i {
  color: #000;
  padding-top: 15px;
  font-size: 1em;
  letter-spacing: 1.2em;
}
.staff .staff__article:hover {
  transform: scale(1.04);
}

/*end staff*/
/*proyects*/
.proyects {
  margin: 25px 10px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.proyects .proyects__article {
  background-color: #fafafa;
  margin: 10px 0;
}
.proyects .proyects__article img {
  width: 100%;
  max-width: 450px;
  align-self: center;
}
.proyects .proyects__article .proyects__article__description {
  margin: 15px;
  padding: 25px;
  border: 0px solid #000;
  width: 90%;
  align-items: center;
  display: inline-block;
}
.proyects
  .proyects__article
  .proyects__article__description
  .proyects__article--link {
  text-decoration: none;
  color: #0d6efd;
  font-weight: 600;
}
.proyects
  .proyects__article
  .proyects__article__description
  .proyects__article--link:hover {
  text-decoration: underline;
}
.proyects .proyects__article .proyects__article__description p {
  color: #151515;
}

/*end proyects*/
/*awards*/
.awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.awards article {
  margin: 25px;
  text-align: center;
  width: 350px;
  height: 120px;
  padding: 15px 10px;
  border-radius: 15px 0;
  transition: all 0.3s ease-in-out;
  background-color: #0d6efd;
}
.awards article p {
  transition: all 0.3s ease-in-out;
  color: #fff;
}
.awards article .awards--name {
  font-weight: 600;
  font-size: 1em;
}
.awards article:hover {
  transform: scale(1.02);
}

/*end awards*/
/*footer*/
footer {
  background-color: #151515;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .footer--cta {
  background-color: #151515;
  color: #fff;
  margin-top: 16px;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  border-radius: 5px;
  border: 0;
  border: 1px solid #fff;
}
footer .footer--cta:hover {
  background-color: #fff;
  color: #000;
}

/*end footer*/
/*carrusel*/
/*slider imagenes*/
.containerImg {
  width: 90%;
  height: auto;
  display: none;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.containerImg div {
  width: 80%;
  height: auto;
  margin: 10px 0;
}
.containerImg div img {
  width: 100%;
}

/*form*/
.form--send {
  background-color: #0d6efd;
  color: #fff;
  margin-top: 16px;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  border-radius: 5px;
  border: 0;
}
.form--send:hover {
  background-color: #000;
}

.form--reset {
  background-color: #fff;
  color: #000;
  margin-top: 16px;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  border-radius: 5px;
  border: 0;
  margin-left: 5px;
}

/*end form*/
/*custom classes and sections*/
.name {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 0;
}

.name--blue {
  color: #0d6efd;
}

.p15s {
  padding-left: 15px;
}

.no--underline {
  text-decoration: none;
}

.no--background {
  background-image: none;
  background-color: #fff;
  opacity: 1;
}

/*loader envio emails*/

@keyframes apagado {
  0% {
    opacity: 1;
    z-index: 999;
  }
  90% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes rotar {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  animation: apagado 3s linear;
  opacity: 0;
  z-index: -1;
}
.loader_1,
.loader_2,
.loader_3 {
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.loader_1 {
  width: 80px;
  height: 80px;
  border-top: 2px solid #337080;
  animation: linear rotar 0.5s infinite;
}
.loader_2 {
  width: 90px;
  height: 90px;
  border-top: 2px solid #a50d0f;
  animation: linear rotar 1s infinite;
}
.loader_3 {
  width: 100px;
  height: 100px;
  border-top: 2px solid #4abb95;
  animation: linear rotar 0.6s infinite;
}

/**/

@media (min-width: 710px) {
  body {
    max-width: 100%;
  }
  /*nav*/
  nav input {
    display: none;
  }
  nav .nav__burguer {
    display: none;
  }
  nav ul {
    grid-column-end: 9;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
  }
  nav ul .nav__li:not(:last-child) {
    margin-right: 2px;
  }
  nav ul a {
    text-decoration: none;
    padding: 0 15px;
    color: #000;
    height: 55px;
  }
  nav ul a:hover {
    color: #fff;
  }
  nav ul .nav__li {
    display: inline-block;
    width: auto;
    background-color: #fff;
    font-weight: 600;
  }
  nav ul .nav__li ul {
    position: absolute;
    top: 55px;
    width: 100%;
    left: 0;
    display: none;
  }
  nav ul .nav__li ul li {
    background-color: #ececec;
    display: block;
  }
  nav ul .nav__li:not(:last-child) {
    margin-right: 2px;
  }
  nav ul a:hover {
    color: #fff;
  }
  nav ul .nav__li--selected,
  nav ul .nav__li:hover {
    color: #fff;
    background-color: #0d6efd;
    display: inline-block;
    text-decoration: underline;
  }
  nav input:checked ~ ul {
    grid-column-end: 9;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    left: 0;
  }
  nav input:checked ~ ul ul li {
    display: block;
  }
  /*end nav*/
  /*header*/
  header .header__email:hover {
    transform: scale(1.03);
  }
  header .header__titlescta h1 {
    font-size: 5.2em;
  }
  header .header__titlescta h2 {
    letter-spacing: 0;
    line-height: 1.4em;
    font-weight: 400;
  }
  /*end header*/
  /*customers*/
  .customers p {
    font-size: 1.4em;
  }
  .customers img {
    margin: 0 25px;
  }
  /*end customers*/
  /*proyects*/
  .proyects .proyects__article {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    padding: 15px 0;
  }
  .proyects .proyects__article img {
    width: 100%;
    height: 100%;
    max-width: 350px;
  }
  .proyects .proyects__article .proyects__article__description {
    width: 45%;
    border-radius: 5px;
    border: 0;
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .proyects .proyects__article .proyects__article__description p {
    color: #151515;
  }
  .proyects
    .proyects__article
    .proyects__article__description
    .proyects--material {
    font-weight: 600;
    font-size: 0.9em;
  }
  /*end proyects*/
  /*imagenes*/
  #carousel {
    display: none;
  }
  .containerImg {
    display: grid;
    grid-template-columns: repeat(6, 260px);
    grid-template-rows: 190px;
    gap: 10px;
    overflow-x: scroll;
    width: 100%;
  }
  .containerImg div {
    display: inline-block;
    width: 260px;
    height: auto;
  }
  .containerImg div img {
    width: 100%;
    height: 160px;
    transition: all 0.2s;
  }
  .containerImg div img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
  }
  /*end imagenes*/
  .awards {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
}

@media (min-width: 850px) {
  header {
    display: flex;
    justify-content: space-around;
    max-height: 480px;
    overflow-y: hidden;
    background-color: #fafafa;
    background-size: cover;
  }
  header .header__titlescta {
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.6);
  }
  header .header__titlescta .header__social i {
    font-size: 1.1em;
  }
  header .header__titlescta h1,
  header .header__titlescta h2 {
    color: #151515;
  }
  header .header__titlescta h1 {
    font-weight: bold;
    font-size: 4.5em;
  }
  header .header__titlescta h2 {
    letter-spacing: 0px;
    font-size: 2em;
  }
}

@media (min-width: 1070px) {
  header {
    background-image: none;
  }
  header .header__titlescta {
    background-color: rgba(230, 230, 230, 0);
  }
  header img {
    display: block;
    max-width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  body,
  nav {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }
}
