/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 709px;
  font-size: 16px;
  background-color: $bg-white;
  font-family: "Montserrat", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

/*nav*/
nav {
  background-color: $white;
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  line-height: 55px;
  height: 55px;
  z-index: 999;
  .nav__logo {
    font-size: 1.2em;
    align-self: center;
    font-weight: bold;
    margin-left: 10px;
    a {
      color: $black;
      text-decoration: none;
    }
  }

  input {
    grid-column: 8;
    position: absolute;
    top: 21px;
    left: 7px;
    z-index: 2;
    opacity: 0;
  }

  input:checked ~ ul {
    position: absolute;
    top: 55px;
    left: 0;
  }

  input:checked ~ ul ul li {
    display: none;
  }
  input:checked ~ .nav__li--selected {
    width: 100vw;
  }
  input:checked ~ .nav__burguer .nav__burguer__lines:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  input:checked ~ .nav__burguer .nav__burguer__lines:nth-child(2) {
    width: 0;
  }
  input:checked ~ .nav__burguer .nav__burguer__lines:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
  .nav__burguer {
    grid-column: 8 / span 1;
    display: flex;
    margin-right: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .nav__burguer__lines {
      margin: 2px;
      border-radius: 20px;
      display: block;
      background-color: $black;
      border: 0;
      height: 5px;
      width: 25px;
      transition: 0.3s ease-in-out;
    }
    .nav__burguer__lines:nth-child(2) {
      width: 20px;
      margin-left: 6px;
    }
  }
  ul {
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 55px;
    left: -110%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    li {
      width: 100vw;
      background-color: $bg-white;
    }

    .nav__li {
      display: inline-block;
    }
    .nav__li:not(:last-child) {
      margin-right: 2px;
    }
    a {
      text-decoration: none;
      padding: 0 15px;
      color: $black;
      height: 55px;
      &:hover {
        color: $white;
      }
    }

    .nav__li--selected,
    li:hover {
      width: 100%;
      color: $white;
      background-color: $blue;
      display: inline-block;
      text-decoration: underline;
    }
    .nav__link--white {
      color: $white;
    }
    .nav__li:hover > a {
      color: $white;
    }
    /*sub menu*/
    ul {
      ul {
        display: none;
        position: absolute;
      }
      li {
        display: block;
        background-color: rgba(230, 230, 230, 0.9);
        width: 100%;
        &:hover {
          text-decoration: none;
        }
      }
    }
    li:hover > ul {
      display: block;
    }
  }
}
/*end nav*/

/*header*/
header {
  background-image: url("/imagenes/foto_casa.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $bg-fafafa;
  .header__titlescta {
    background-color: rgba(0, 0, 0, 0.7);
    grid-column: 1/9;
    padding: 100px 15px 60px 15px;
    h1 {
      color: $white;
      font-size: 3.8em;
      font-weight: 600;
    }
    h2 {
      color: $white;
      letter-spacing: 0px;
      font-size: 1.5em;
      line-height: 1.5em;
      margin: 15px 0;
      font-weight: 400;
    }
    .header__email {
      @include botones(16px, $blue, $white);
    }
    .header__social {
      margin-top: 25px;
      font-size: 1.2em;
      margin-left: 5px;
      letter-spacing: 5px;
      color: $white;
      i:hover {
        color: $blue;
      }
    }
  }
  img {
    display: none;
  }
}
/*end header*/

/*customers*/
.customers {
  margin: 0 0 10px 0;
  padding: 45px 0;
  height: auto;
  width: 100%;
  font-weight: bold;
  background-color: $customers;
  text-align: center;
  overflow-x: auto;
  p {
    font-size: 1em;
    padding: 0;
    color: $bg-dark;
  }
  img {
    display: inline-block;
    height: 60px;
    width: auto;
    margin: 0 5px;
    margin-top: 15px;
  }
}
/*end customers*/

/*staff*/
.staff {
  padding-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .staff__article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: 25px;
    padding: 15px;
    background-color: $bg-fafafa;
    -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    text-align: left;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
    width: 340px;
    height: 390px;
    img {
      display: block;
      margin: 0 auto;
      clip-path: circle(50%);
    }
    .staff__socials {
      align-self: center;
      i {
        color: $black;
        padding-top: 15px;
        font-size: 1em;
        letter-spacing: 1.2em;
      }
    }
    &:hover {
      transform: scale(1.04);
    }
  }
}
/*end staff*/

/*proyects*/

.proyects {
  margin: 25px 10px;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  .proyects__article {
    background-color: $bg-fafafa;
    margin: 10px 0;
    img {
      width: 100%;
      max-width: 450px;
      align-self: center;
    }
    .proyects__article__description {
      margin: 15px;
      padding: 25px;
      border: 0px solid $black;
      width: 90%;
      align-items: center;
      display: inline-block;
      .proyects__article--link {
        text-decoration: none;
        color: $blue;
        font-weight: 600;
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        color: $bg-dark;
      }
    }
  }
}
/*end proyects*/

/*awards*/

.awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  article {
    margin: 25px;
    text-align: center;
    width: 350px;
    height: 120px;
    padding: 15px 10px;
    border-radius: 15px 0;
    transition: all 0.3s ease-in-out;
    background-color: $blue;
    p {
      transition: all 0.3s ease-in-out;
      color: $white;
    }
    .awards--name {
      font-weight: 600;
      font-size: 1em;
    }
    &:hover {
      transform: scale(1.02);
    }
  }
}
/*end awards*/

/*footer*/
footer {
  background-color: $bg-dark;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .footer--cta {
    @include botones(16px, $bg-dark, $white);
    border: 1px solid $white;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
/*end footer*/

/*carrusel*/
/*slider imagenes*/

.containerImg {
  width: 90%;
  height: auto;
  display: none;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  div {
    width: 80%;
    height: auto;
    margin: 10px 0;
    img {
      width: 100%;
    }
  }
}

/*form*/
.form--send {
  @include botones(16px, $blue, $white);
  &:hover {
    background-color: $black;
  }
}
.form--reset {
  @include botones(16px, $white, $black);
  margin-left: 5px;
}
/*end form*/

/*custom classes and sections*/

.name {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 0;
}

.name--blue {
  color: $blue;
}

.p15s {
  padding-left: 15px;
}

.no--underline {
  text-decoration: none;
}

.no--background {
  background-image: none;
  background-color: #fff;
  opacity: 1;
}
/*loader envio emails*/

@keyframes apagado {
  0% {
    opacity: 1;
    z-index: 999;
  }
  90% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes rotar {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  animation: apagado 3s linear;
  opacity: 0;
  z-index: 0;
}
.loader_1,
.loader_2,
.loader_3 {
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.loader_1 {
  width: 80px;
  height: 80px;
  border-top: 2px solid #337080;
  animation: linear rotar 0.5s infinite;
}
.loader_2 {
  width: 90px;
  height: 90px;
  border-top: 2px solid #a50d0f;
  animation: linear rotar 1s infinite;
}
.loader_3 {
  width: 100px;
  height: 100px;
  border-top: 2px solid #4abb95;
  animation: linear rotar 0.6s infinite;
}

/**/
