@media (min-width: 710px) {
  body {
    max-width: 100%;
  }
  /*nav*/
  nav {
    input {
      display: none;
    }
    .nav__burguer {
      display: none;
    }
    ul {
      grid-column-end: 9;
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      left: 0;
      .nav__li:not(:last-child) {
        margin-right: 2px;
      }
      a {
        text-decoration: none;
        padding: 0 15px;
        color: $black;
        height: 55px;
        &:hover {
          color: $white;
        }
      }
      .nav__li {
        display: inline-block;
        width: auto;
        background-color: $white;
        font-weight: 600;
        ul {
          position: absolute;
          top: 55px;
          width: 100%;
          left: 0;
          display: none;
          li {
            background-color: $bg-white;
            display: block;
          }
        }
      }
      .nav__li:not(:last-child) {
        margin-right: 2px;
      }
      a:hover {
        color: $white;
      }
      .nav__li--selected,
      .nav__li:hover {
        color: $white;
        background-color: $blue;
        display: inline-block;
        text-decoration: underline;
      }
    }
    input:checked ~ ul {
      grid-column-end: 9;
      display: flex;
      flex-direction: row;
      position: relative;
      top: 0;
      left: 0;
    }

    input:checked ~ ul ul li {
      display: block;
    }
  }
  /*end nav*/

  /*header*/
  header {
    .header__email:hover {
      transform: scale(1.03);
    }
    .header__titlescta {
      h1 {
        font-size: 5.2em;
      }
      h2 {
        letter-spacing: 0;
        line-height: 1.4em;
        font-weight: 400;
      }
    }
  }

  /*end header*/

  /*customers*/
  .customers {
    p {
      font-size: 1.4em;
    }
    img {
      margin: 0 25px;
    }
  }
  /*end customers*/

  /*proyects*/
  .proyects {
    .proyects__article {
      display: flex;
      justify-content: space-around;
      border-radius: 8px;
      padding: 15px 0;
      img {
        width: 100%;
        height: 100%;
        max-width: 350px;
      }
      .proyects__article__description {
        width: 45%;
        border-radius: 5px;
        border: 0;
        background-color: $bg-white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
          color: $bg-dark;
        }
        .proyects--material {
          font-weight: 600;
          font-size: 0.9em;
        }
      }
    }
  }
  /*end proyects*/

  /*imagenes*/
  #carousel {
    display: none;
  }
  .containerImg {
    display: grid;
    grid-template-columns: repeat(6, 260px);
    grid-template-rows: 190px;
    gap: 10px;
    overflow-x: scroll;
    width: 100%;
    div {
      display: inline-block;
      width: 260px;
      height: auto;
      img {
        width: 100%;
        height: 160px;
        transition: all 0.2s;
        &:hover {
          transform: scale(1.1);
          cursor: zoom-in;
        }
      }
    }
  }
  /*end imagenes*/

  .awards {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
}

@media (min-width: 850px) {
  header {
    display: flex;
    justify-content: space-around;
    max-height: 480px;
    overflow-y: hidden;
    background-color: $bg-fafafa;
    background-size: cover;
    .header__titlescta {
      justify-self: center;
      background-color: rgba(255, 255, 255, 0.6);
      .header__social i {
        font-size: 1.1em;
      }
      h1,
      h2 {
        color: $bg-dark;
      }

      h1 {
        font-weight: bold;
        font-size: 4.5em;
      }
      h2 {
        letter-spacing: 0px;
        font-size: 2em;
      }
    }
  }
}
@media (min-width: 1070px) {
  header {
    background-image: none;
    .header__titlescta {
      background-color: rgba(230, 230, 230, 0);
    }
    img {
      display: block;
      max-width: 100%;
      height: 100%;
    }
  }
}
@media (min-width: 1200px) {
  body,
  nav {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
  }
}
